
.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 415px;
    min-width: 270px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    flex-grow: 1;
}

.item_title {
    display: flex;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFB64F;
    position: relative;
    padding: 30px 10px 10px 30px;
    justify-content: space-between;

    .left{
        display: flex;
        flex-direction: column;
    }

    h3 {
        font-family: Inter-Regular;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin: 0;
    }

    p {
        font-family: Inter-Regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
        margin: 0;
    }

    img {
        width: 90px;
    }
}

.item_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    position: relative;
    border-radius: 0 0 10px 10px;
    padding: 33px 30px ;

    h4 {
        color: #000;
        font-family: Inter-Regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.2px;
        margin: 49px 0 10px 0;
    }

    p {
        padding: 10px 5px 10px 0;
        margin: 0;
        height: 22px;
        color: #000;
        font-family: Inter-Regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none; /* Убираем исходные маркеры */
        background: url(../images/d66c8534250053c887c969f508e4c527.png) no-repeat 0 4px; /* Параметры фона */
        background-position: 0 50%;
        padding-left: 28px; /* Смещаем текст вправо */ 
        margin-bottom: 5px;
        background-size: 20px;
        font-family: Inter-Regular;
        font-size: 18px;
        font-weight: 400;
    }

    .rate_button {
        margin-top: 50px;
    }
}

.activ {
    border: 2px solid #FFB64F;
    border-top: 0px;
    padding-top: 12px;
    .rate_button {
        background: #D2D2D2;
        color: #000;
    }
}

.valid {
    display: none;
}

.activ .valid {
    display: block;
    border-radius: 10px;
    background: #3BA5E0;
    color: #FFF;
    font-family: Inter-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    width: 134px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    
}
.valid_div {
    display: flex;
    justify-content: flex-end;
}
.price {
    display: flex;
    gap: 19px;
    padding: 0;
}
.price_new {
    color: #000;
    font-family: Inter-Regular;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
}

.price_old {
    color: #000;
    font-family: Inter-Regular;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-decoration:line-through;
    opacity: 0.5;
    align-self: center;
    white-space: nowrap;
}

.orange {
    .item_content {
        border-color: #FFB64F;
    }
    .item_title {
        background-color: #FFB64F;
    }
}
.black {
    .item_content {
        border-color: black;
    }
    .item_title {
        background-color: black;

        p, h3 {
            color: white;
        }
    }
}
.aqua {
    .item_content {
        border-color: #7CE3E1;
    }
    .item_title {
        background-color: #7CE3E1;
    }
}

@media screen and (max-width: 375px) {
    .item {
        height: 512px;
    }
    .item_title {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 18px;
        }
        img {
            width: 59px;
            left: 271px;
        }
    }
    .item_content {
        height: 382px;
        padding-left: 24px;

        h4 {
            font-size: 18px;
        }
        p {
            width: 273px;
        }
        li {
            font-size: 16px;
        }
        .rate_button {
            width: 280px;
            margin-top: 39px;
        }
    }

    .price {
        padding-top: 20px;
        gap: 10px;
    }
}