.unit {
    background-color: #fff;
    position: relative;
    width: 1320px;
    height: 644px;
    margin: 0 auto;
    padding: 55px 60px;
    display: flex;
}
.title {
    color: #000;
    font-family: Ferry, Helvetica;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.6px;
    width: 743px;
    margin: 0;
    padding: 0;
}
.text_description {
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 24px 0px;
    letter-spacing: 0.2px;
}
.mascot {
    width: 570px;
    height: 593px;
    object-fit:cover;
}

.button {
    margin: 24px 0px;
    width: 335px;
}

@media screen and (max-width: 375px) {
    .title {
        width: 361px;
        font-size: 28px;
        position:relative;
        left: 0;
        top: 0;
    }
    .unit {
        flex-direction: column;
        width: 347px;
        padding: 55px 14px;
        height: auto;
    }
    .text_description {
        position: relative;
        left: 0;
        top: 0;
    }
    .mascot {
        width: 347px;
        height: auto;
        position:relative;
        left: 0;
        top: 0;
    }
    .button {
        position: relative;
        top: 0;
        left: 0;
    }
}