
.item {
    width: 641px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    padding: 19px 30px 35px;
}

.rate_button {
    background: #7CE3E1;
    color: black;
    width: 223px;
}


@media screen and (max-width: 375px) {
    .item {
        width: 335px;
        height: 512px;
    }
}