.limit {
    background-color: #f4f4f4;
    border-radius: 5px;
    height: 63px;
    min-width: 165px;
    padding: 5px;

}

.row_upper {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: flex-end;
    margin-top: 9px;
}

.row_lower {
    display: flex;
    margin-top: 7px;
    align-items: center;
    gap: 9px;
    justify-content: flex-end;
}

.upper_text, .lower_text{
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.4;
    padding-top: 1px;
}

.upper_value, .lower_value{
    width: 30px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px
}

.lower_value{
    color: #8ac540;
}


@media screen and (max-width: 420px) {

    .limit{
        min-width: 112px;
        height: 65px;
        padding: 5px 10px;
    }
    .row_upper, .row_lower {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        margin: 0;
    }
    .upper_text{
        font-size: 8px;
    }
    .lower_text{
        font-size: 8px;
    }
    .upper_value{
        font-size: 14px;
    }
    .lower_value{
        font-size: 14px;
    }
}