.header{
    background-color: #fff;
    height: 93px;
    
    max-width: 1440px;
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.logo {
    height: 93px;
    object-fit: cover;
    width: 141px;
}

.group_menu{
    align-self: center;
}

.limit_section{
    left: 966px;
    position: absolute;
    top: 15px;
}

.card{
    height: 32px;
    left: 1269px;
    position: absolute;
    top: 30px;
    width: 115px;
}

.authorization {
    color: #000;
    font-family: Inter-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    align-items: end;
}

@media screen and (max-width: 375px) {
    .logo {
        height: 93px;
        left: 14px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 111px;
    }
    .header {
        width: 347px;
        margin: 0 14px;
        justify-content: flex-end;
    }
    .group_menu{
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 99;
    }
    .limit_section{
        left: 156px;
        top: 9px;
    }

    .card {
        display: none;
    }
    .authorization {
        display: none;
    }
}