
.group_menu{
    display: flex;
    flex-direction: row;
    gap: 49px;
    width: 242px;
}
.item_menu{
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.iconMenu{
    display: none;
}



@media screen and (max-width: 375px) {
    .group_menu, .group_menu_active{
        flex-direction: column;
        height: 494px;
        width: 375px;
        left: 0px;
        position: absolute;
        top: 93px;
        gap: 26px;
        display: none;
        
    }
    .item_menu{
        color: #ffffff;
        font-family: "Inter-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.16px;
        line-height: normal;
        white-space: nowrap;
    }
    .iconMenu{
        display: block;
        position: absolute;
        left: 319px;
        top: 30px;
    }
    .group_menu {
        background-color: #029491;;
        transition: background-color 1s ease-in-out;
    }
    .group_menu_active{
        background-color: white;
        transition: background-color 1s ease-in-out;
        display: none;
    }

}