.button {
    background-color: #5970ff;
    border-radius: 5px;
    height: 59px;
    left: 0;
    min-width: 335px;
    border-style: none;
    font-size: 22px;
    color: #FFF;
    font-family: "Inter-Regular", Helvetica;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 1;
}