.unit {
    background-color: #ffffff;
    margin: 0;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    padding: 10px 44px 39px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.form_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.unit_button {
    align-self: flex-end;

    p {
        font-size: 14px;
        font-family: Inter-Regular;
        color: #C7C7C7;
        margin: 0;
    }
}

.inputs {
    display: flex;
    flex-direction: column;

    label {
        color: black;
        font-size: 18px;
        margin: 25px 0 15px;
        font-family: Inter-Regular;
    }
    input{
        max-width: 208px;
    }
    
}

select.tonality{
    width: 244px;
    height: 41px;
    margin-bottom: 5px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.range {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;

    div {
        flex-grow: 1;
    }
}

h4 {
    font-family: Inter-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 29px 0 20px;
}
button {
    margin: 25px 0 15px 0;
}
a{
    align-self: center;
    font-family: Inter-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search_button {
    width: 305px;
}

@media screen and (max-width: 800px) {
    .unit {
        flex-direction: column;
        padding: 10px 26px 39px 14px;
    }
    select.tonality{
        width: auto;
        max-width: 344px;
    }
    .inputs {

        input {
            max-width: 308px;
        }
    }
    .range {
       flex-direction: column;
       max-width: 344px;
       align-items: stretch;
    }

    .unit_button {
        align-self: center;
    }
}

@media screen and (max-width: 375px) {
    .unit {

        flex-direction: column;
        .checkboxes {
            display: none;
        }
    }
    .navigation {
        button {
            font-size: 16px;
        }
    }
}
