.unit {
    background-color: #ffffff;
    margin: 0;
    width: auto;
}

.form {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.form_request {
    margin: 0 44px;
    display: flex;
    flex-direction: row;
    
    .inputs {
        display: flex;
        flex-direction: column;
        /* input {
            width: 243px;
            height: 43px;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            border: 1px solid #C7C7C7;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        } */
    }
    
    .range {
        display: flex;
        flex-direction: row;
        gap: 20px;
        input {
            width: 176px;
        }
    }
    h4 {
        font-family: Inter-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 29px 0 20px;
    }
    button {
        margin: 25px 0 15px 0;
    }
    a{
        align-self: center;
        font-family: Inter-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.search_button {
    width: 305px;
}

@media screen and (max-width: 375px) {
    .unit {

    }
    .form {

    }
    .form_request {
        margin: 40px 15px 20px;
        flex-direction: column;
        .checkboxes {
            input {
                display: none;
            }
        }
    }
    .navigation {


        button {
            font-size: 16px;
        }
    }
}
