.group_menu, .group_menu_active{
    display: none;
}
.top_line, .items_menu, .bottom_line{
    display: none;
}

.hamburger_menu {
    position: relative;
    width: 30px;
    height: 25px;
    margin: 34px 26px 0 0;

}

.hamburger_menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    color: black;
    background-color: #029491;
    position: absolute;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}

.hamburger_menu span:nth-child(1) {
    top: 0;
}
.hamburger_menu span:nth-child(2) {
    top: 10px;
}
.hamburger_menu span:nth-child(3) {
    top: 20px;
}



@media screen and (max-width: 800px) {
    .group_menu, .group_menu_active{
        width: 100%;
        min-width: 375px;
        position: absolute;
        display: flex;
        flex-direction: column;
        
        z-index: 99;
        left: 0;
    }
    .back {
        background-color: #029491;
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: -1;
        right: 0;
    }
    .top_line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    
        .box {
            position: relative;
            overflow:hidden;
            width:141px;
            height:93px;
            margin-left: var(--padding-value);
        }
        .logo_white{
            position: absolute;
            width: 141px;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            object-fit:cover;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }
    .items_menu{
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin: 15px;
        align-items: center;
        visibility: visible;
        transition: visibility 0.3s ease-in-out;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .item_menu{
        color: #ffffff;
        font-family: "Inter-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.16px;
        line-height: normal;
        white-space: nowrap;
    }

    .bottom_line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 20px;
    }
    .iconMenu{
        display: block;
        position: absolute;
        left: 319px;
        top: 30px;
    }
    .button {
        width: 295px;
        height: 51.96px;
        background-color: #7CE3E1;
        border-radius: 5px;
        border-style: none;
        font-size: 20px;
        font-family: "Inter-Regular", Helvetica;
        cursor: pointer;
    }

    .link_registration {
        color: rgb(121, 186, 185);
        font-family: "Inter-Regular";
        font-size: 16px;
        font-weight: 400;
    }
    .group_menu {

        .logo_white,
        .items_menu,
        .bottom_line {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-out, visibility 0.3s linear 0.3s;

        }
        .back {
            width: 0px;;
            transition: width 0.3s ease-in-out;
        }
    }
    .group_menu_active{
        .hamburger_menu span {
            background-color: #ffffff;
        }        
        .items_menu,
        .logo_white,
        .bottom_line{
            visibility: visible;
            transition: visibility 0.3s ease-in;
            opacity: 1;
            transition: opacity 0.3s ease-in;
        }
        .back {
            /* width: 375px;; */
            transition: width 0.3s ease-out;
        }
        .hamburger_menu span:nth-child(2) {
            transform: rotate(45deg);
        }
        .hamburger_menu span:nth-child(1) {
            opacity: 0;
        }
        .hamburger_menu span:nth-child(3) {
            transform: translateY(-10px) rotate(135deg);
        }
    }

}
@media screen and (max-width: 375px) {
    .top_line{
        .box {
            width:111px;
        }
        .logo_white{
            width: 111px;
        }
    }
}