.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 137px;
    position: relative;
    margin: 0 auto;
    background: url(../../public/images/logo_white.png) no-repeat 0 4px; /* Параметры фона */
    background-position: var(--padding-value) -2px;
    background-size: 141px;
    background-color: #029491;
}
.logo {
    object-fit: cover;
    width: 141px;
}

.adress, .copyright {
    color: #FFF;
    text-align: right;
    font-family: Inter-Regular;
    font-size: 14px;
}

.adress {
    padding: 25px 45px 0 0;
}
.copyright {
    padding: 21px 45px 0 0;
}

@media screen and (max-width: 375px) {
    .footer {
        width: 375px;
        background-position: 18px -12px;
        background-size: 111px;
    }
        
    .adress {
        padding: 25px 19px 0 0;
    }
    .copyright {
        padding: 21px 19px 0 0;
    }
}