.header{
    background-color: #fff;
    height: 93px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.logo {
    height: 93px;
    left: 60px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 141px;
}
.group_menu{
    left: 602px;
    position: absolute;
    top: 38px;
}
.item_menu{
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.14px;
    line-height: normal;
    top: 0;

}

.limit_section{
    left: 966px;
    position: absolute;
    top: 15px;
}

.card{
    height: 32px;
    left: 1269px;
    position: absolute;
    top: 30px;
    width: 115px;
}

@media screen and (max-width: 375px) {
    .logo {
        height: 93px;
        left: 14px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 111px;
    }
    .header {
        width: 375px;
    }

    .limit_section{
        left: 156px;
        top: 9px;
    }

    .card {
        display: none;
    }
}