.unit {
    background-color: #fff;
    max-width: 1320px;
    margin: 0;
    padding: 55px var(--padding-value);
}

.title {
    color: #000;
    font-family: Ferry;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    margin: 60px 0;
}
.ListDocuments {
    display: flex;
    flex-direction: row;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 28px;
    }
    .rates {
        flex-direction: column;
        gap: 43px;
    }
}