.unit {
    background-color: #fff;
    max-width: 1320px;
    margin: 0 auto;
    padding: 60px;
}

.title {
    color: #000;
    font-family: Ferry;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    margin: 60px 0;
}
.ListDocuments {
    display: flex;
    flex-direction: row;
    gap: 38px;
}

@media screen and (max-width: 1000px) {
    .ListDocuments {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }
    .unit {
        width: min-347px;
        padding: 55px 14px;
    }
    .title {
        font-size: 28px;
    }
    .rates {
        flex-direction: column;
        gap: 43px;
    }
}