.unit {
    background-color: #fff;
    position: relative;
    height: 1100px;
    /* margin: 0 auto; */
    padding: 60px 0;
}

.title {
    color: #000;
    font-family: Ferry;
    /* font-size: 45px; */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    padding: 69px var(--padding-value) 0;
}

.sliderman {
    padding: 0 var(--padding-value);
    margin: 0 auto;
    top: 240px;
    display: flex;
    flex-direction: row;
}

.item {
    /* min-width: 288px; */
    height: 225px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    left: 0;
    margin: 15px;

}

.item img {
    width: 65px;
    height: 65px;
    padding: 22px 0 0 19px;
}
.item p {
    /* width: 359px; */
    text-align: left;
    font-family: Inter-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    white-space: pre-wrap;
    margin: 0;
    padding: 20px;
}

.img{
    /* min-width: 421px;
    max-width: 629px; */
    height: 540px;
    margin: 70px 0 0 var(--padding-value);
}

.mascot {
    width: 100%;
    min-height: 390px;
    /* min-width: 421px; */
    max-width: 1307px;
    object-fit: cover;
    object-position: 0 0;
}



/* .mascot_ok {
    position: absolute;
    width: 100%;
    height: 576px;
    top: 600px;
    left: 60px;
    object-fit:cover;
    background-image: url(./images/mascot_ok.svg);
    background-size:cover;
} */
@media screen and (max-width: 450px) {
    .item {
        margin: 15px;
        min-width: auto;
        height: 188px;

        img {
            padding-left: 10px;
            padding-top: 10px;
            width: 50px;
        }
        p {
            /* width: 290px; */
            padding:10px;
            font-size: 16px;
        }

    }
}

@media screen and (max-width: 375px) {
    /* .unit {
        width: 343px;
        padding: 16px;
    } */
    .title {
        font-size: 28px;
        width: 300px;
    }
    .item {
        margin: 15px;
        min-width: auto;
        height: 188px;

        img {
            padding-left: 15px;
            width: 57px;
        }
        p {
            /* width: 290px; */
            padding: 20px 10px;
            font-size: 16px;
        }

    }
    .mascot_ok {
        width: 360px;
        height: 390px;
        left: 15px;
    }
}