.unit {
    background-color: #fff;
    position: relative;
    width: 1320px;
    height: 1100px;
    margin: 0 auto;
    padding: 60px;
}

.title {
    color: #000;
    font-family: Ferry;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    padding: 69px 0px 0 0px;
    position: absolute;
}

.sliderman {
    width: 1440px;
    margin: 0 auto;
    top: 190px;
    left: -60px;
    padding: 0 0px;
}

.item {
    width: 400px;
    height: 225px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    left: 38px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.item img {
    width: 65px;
    height: 65px;
    padding: 22px 0 0 19px;
}
.item p {
    width: 359px;
    text-align: left;
    font-family: Inter-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    white-space: pre-wrap;
    margin: 0;
    padding: 20px;
}

.mascot_ok {
    position: absolute;
    width: 1310px;
    height: 576px;
    top: 500px;
    left: 60px;
    object-fit:cover;
    background-image: url(./images/mascot_ok.svg);
    background-size:cover;
}

@media screen and (max-width: 375px) {
    .unit {
        width: 343px;
        padding: 16px;
    }
    .title {
        font-size: 28px;
        width: 300px;
    }
    .sliderman {
        width: 375px;
        left: -16px;
    }
    .item {
        width: 298px;
        margin: 20px 0;
        padding: 0;
        left: 37px;
        img {
            padding-left: 15px;
        }
        p {
            width: 290px;
            padding: 20px 10px;
        }

    }
    .mascot_ok {
        width: 360px;
        height: 390px;
        left: 15px;
        

    }
}